<nav class="navbar navbar-expand-lg btn fixed-top btn-dark">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/logoMari.png" width="50" height="50" class="d-inline-block align-top letr" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link letr h5 text-white" data-scroll href="#">Home</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#sobreMi">About me</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#trabajos">Projects</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#colaboradores">Collaborators</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#servicios">Technologies</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#footer">Contact</a>
                </li>
                   
            </ul>
       
        </div>
</nav>


