<nav class="navbar navbar-expand-lg btn fixed-top btn-dark">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/logoMari.png" width="50" height="50" class="d-inline-block align-top letr" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link letr h5 text-white" data-scroll href="#">Inicio</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#sobreMi">Sobre Mi</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#trabajos">Trabajos</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#colaboradores">Referencias</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#servicios">Tecnologías</a>
                </li>
                <li class=" nav-item ">
                    <a class=" nav-link letr h5 text-white" data-scroll href="#footer">Contacto</a>
                </li>
                   
            </ul>
       
        </div>
</nav>
