<main>
  <section class="contenedor sobre-nosotros" id="sobreMi">
    <h2 class="titulo">Quien Soy</h2>
    <div class="contenedor-sobre-nosotros">
      <img src="./../../../assets/img/dev.svg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>1</span>Sobre mi</h3>
        <p>Soy una Ingeniera en Informática amante de la tecnología e innovación, dedicada y apasionada
          de lo que hace, me especialicé en el desarrollo de sitios web front-end y manejo de base de datos back-end. </p>
        <h3><span>2</span>Mis logros</h3>
        <p>•Finalizacion con exito de todos los proyectos en los que trabajado cumpliendo con los plazos acordados. <br>
          •Ascenso a posicion de jefa de departamento SIGESP. <br>
          •Resolver eficientemente problemas de los clientes, lo que me hizo ganar elogios por mis esfuerzos. <br> </p>
      </div>
    </div>
  </section>
  <section class="mis-trabajos" id="trabajos">
    <div class="contenedor">
        <h2 class="titulo">Mis trabajos</h2>
        <div class="galeria-trabajos">

            <div class="imagen-trabajos">
                <img src="../../../assets/img/pokemee.png" alt="">
                <div class="hover-trabajos">
                  <div class="containerDescription">
                    <h3>POKÉ-ME</h3>
                    <p>Es una aplicación complementaria al juego POKEMÓN GO, que te permite encontrar de manera rápida y fácil los datos de aparición de ese escurridizo pokemón que se niega a ocupar el espacio que le corresponde en tu pokedex.</p>
                    <h4>Demo <a class="acode" href="https://marielysis.github.io/SCL011-data-lovers/src/index.html"><img src="../../../assets/img/mostrar.png" alt=""></a></h4>
                    <br>
                    <h4>Code <a class="acode" href="https://github.com/marielysis/SCL011-data-lovers"><img src="../../../assets/img/mostrar.png" alt=""></a></h4>
                  </div>
                </div>
                
            </div>

            <div class="imagen-trabajos">
                <img src="../../../assets/img/burger.png" alt="">
                <div class="hover-trabajos">
                  <div class="containerDescription">
                    <h3>Burger Queen</h3>
                    <p>Es una aplicación para una cadena de comida rápida 24hrs que ayuda a tomar los pedidos de los clientes de manera intuitiva, enviando a cocina para asi agilizando el proceso.</p>
                    <h4>Demo <a href="https://burgerqueen-62c12.firebaseapp.com"><img src="../../../assets/img/mostrar.png" alt=""></a></h4>
                    <br>
                    <h4>Code <a href="https://github.com/marielysis/SCL011-Burger-Queen"><img src="../../../assets/img/mostrar.png" alt=""></a></h4>
                  </div>
                    
                </div>
            </div>
          
            <div class="imagen-trabajos">
              <img src="../../../assets/img/pacientes.png" alt="">
              <div class="hover-trabajos">
                <div class="containerDescription">
                  <h3>Mascotas</h3>
                  <p>Proyecto realizado con React para la adminitración de pacientes, mascotas. El paciente puede reservar una hora médica con anticicpación, el sistema las administra. Usa hooks, useState, useEffect.</p>
                  <h4>Demo <a class="acode" href="https://upbeat-aryabhata-02f955.netlify.com/"><img src="../../../assets/img/mostrar.png" alt=""></a></h4>
                  <br>
                  <h4>Code <a class="acode" href="https://github.com/marielysis/Presupuesto-react"><img src="../../../assets/img/mostrar.png" alt=""></a></h4>
                </div>
              </div>              
          </div>

          <div class="imagen-trabajos">
            <img src="../../../assets/img/presupuesto.png" alt="">
            <div class="hover-trabajos">
              <div class="containerDescription">
                <h3>Presupuesto</h3>
                <p>Proyecto realizado con React para gestionar presupuestos. Control de gastos, podemos visualizar cuanto nos queda de disponibilidad de manera sencilla. Usa hooks, useState, useEffect.</p>
                <h4>Demo <a class="acode" href="https://vigorous-hamilton-d38808.netlify.com"><img src="../../../assets/img/mostrar.png" alt=""></a></h4>
                <br>
                <h4>Code <a class="acode" href="https://github.com/marielysis/Administrador-pacientes-react"><img src="../../../assets/img/mostrar.png" alt=""></a></h4>
              </div>
            </div>            
        </div>

        </div>
    </div>
</section>
  <section class="cliente contenedor" id="colaboradores">
    <h2 class="titulo">Que dicen mis colaboradores</h2>
    <div class="cards">
      <div class="card">
        <img src="../../../assets/img/crus.png" alt="">
        <div class="contenido-texto-card">
          <h4>Crusiris Nuñez</h4>
          <h5>Front-End</h5>
          <p>Marielys es una Developer con estupendo entendimiento de las bases del desarrollo FrontEnd y cumplimiento de buenas prácticas.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/mariajose.JPG" alt="">
        <div class="contenido-texto-card">
          <h4>María José Gómez</h4>
          <h5>Front-End</h5>
          <p>Marielys es una colaboradora excelente. Posee alta capacidad de autoaprendizaje y habilidad para compartir dicho conocimiento.
           </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-services" id="servicios">
    <div class="contenedor">
      <h2 class="titulo">Tecnologías</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="../../../assets/img/codeWeb.svg" alt="">
          <h3>Web Developer</h3>
          
        </div>
        <div class="servicio-ind">
          <img src="../../../assets/img/stack.png" alt="">
          <h3>Stack</h3>
          
        </div>
        
      </div>
    </div>

  </section>
</main>
