<main>
  <section class="contenedor sobre-nosotros" id="sobreMi">
    <h2 class="titulo">Quien Soy</h2>
    <div class="contenedor-sobre-nosotros">
      <img src="./../../../assets/img/dev.svg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>1</span>Sobre mi</h3>
        <p>Soy una Ingeniera en Informática amante de la tecnología e innovación, dedicada y apasionada
          de lo que hace, me especialicé en el desarrollo de sitios web y manejo de base de datos. Me destaco en desarrollo front-end y
          back-end</p>
        <h3><span>2</span>Mis logros</h3>
        <p>He liderado equipos con alta capacidad de r
          
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id asperiores nemo veritatis omnis
          sequi, laborum repellendus possimus fugiat veniam quaerat. Sapiente eius nobis iure
          exercitationem iusto impedit magni repellendus aspernatur.</p>
      </div>
    </div>
  </section>
  <section class="mis-trabajos" id="trabajos">
    <div class="contenedor">
        <h2 class="titulo">Mis trabajos</h2>
        <div class="galeria-trabajos">

            <div class="imagen-trabajos">
                <img src="../../../assets/img/pokeme.png" alt="">
                <div class="hover-trabajos">
                  <a href="https://marielysis.github.io/SCL011-data-lovers/src/index.html"><img src="../../../assets/img/mostrar.png" alt=""></a>
                    <a href="https://github.com/marielysis/SCL011-data-lovers">Code</a>
                </div>
            </div>

            <div class="imagen-trabajos">
                <img src="../../../assets/img/Burger.png" alt="">
                <div class="hover-trabajos">
                  <a href="https://burgerqueen-62c12.firebaseapp.com"><img src="../../../assets/img/mostrar.png" alt=""></a>
                    <a href="https://github.com/marielysis/SCL011-Burger-Queen">Code</a>
                </div>
            </div>
           

        </div>
    </div>
</section>
  <section class="cliente contenedor" id="colaboradores">
    <h2 class="titulo">Que dicen mis colaboradores</h2>
    <div class="cards">
      <div class="card">
        <img src="../../../assets/img/crus.png" alt="">
        <div class="contenido-texto-card">
          <h4>Crusiris Nuñez</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, minus.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/mariajose.JPG" alt="">
        <div class="contenido-texto-card">
          <h4>María José Gómez</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, minus.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-services" id="servicios">
    <div class="contenedor">
      <h2 class="titulo">Tecnologías</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="../../../assets/img/codeWeb.svg" alt="">
          <h3>Web Developer</h3>
          
        </div>
        <div class="servicio-ind">
          <img src="../../../assets/img/stack.png" alt="">
          <h3>Stack</h3>
          
        </div>
        
      </div>
    </div>

  </section>
</main>
